<%= form_with(model: itens_group, local: true) do |form| %>
  <% if itens_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(itens_group.errors.count, "error") %> prohibited this itens_group from being saved:</h2>

      <ul>
      <% itens_group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :product_id %>
    <%= form.text_field :product_id, id: :itens_group_product_id %>
  </div>

  <div class="field">
    <%= form.label :cart_id %>
    <%= form.text_field :cart_id, id: :itens_group_cart_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
