<table class="catalog">
  <div>
    <thead>
      <th>Imagem</th>
      <th>Product</th>
      <th>Description</th>
      <th>Price</th>
      <th></th>
    </thead>
  </div>
  <% cache @all_products do %>
    <% @all_products.each do |product| %>
      <% cache product do %>
        <tr>
          <th>
            <%= image_tag(product.image_url, :class => "product") %>
          </th>
          <th>
            <h3><%= link_to(product.title, product) %></h3>
          </th>
          <th>
            <p><%= product.description %></p>
          </th>
          <th class="price" >
            <div class="price"><%= number_to_currency(product.price, unit:'R$') %></div>
          </th>
          <th>
            <%= button_to 'Add to Cart', itens_groups_path(product_id: product), remote: true %>
          </th>
        </tr>


      <% end %>
    <% end %>
  <% end %>
</table>
